<!-- Start Preloader Area -->
<div class="preloader" id="preloader">
    <div class="preloader">
        <div class="waviy position-relative">
            <span class="d-inline-block">
                S
            </span>
            <span class="d-inline-block">
                T
            </span>
            <span class="d-inline-block">
                K
            </span>
            <span class="d-inline-block">
                H
            </span>
        </div>
    </div>
</div>
<!-- End Preloader Area -->